*{
	padding:0;
	margin:0;
}
body{
    background-color: #ffffff;
    font-size: 12px;
    font-family: arial,Verdana,Helvetica;
    color: #131313;
    width: 1922px;
    line-height: 20px;
   
}
.head{
	width:100%;
	height:60px;
	padding-top:10px;
	
}
.logo{
	width:150px;
	height: 44px;
	line-height: 44px;
	background-size: 150px 44px;
	float:left;
	margin-top: 10px;
	margin-left:25%;
}
.head-nav{
	width:auto;
	height: 20px;
	line-height: 20px;
	color: #555;
    font: 12px/18px Microsoft YaHei;
    float: left;
    padding-left:15%;
}
.head-nav ul li{
	list-style: none;
	float: left;
	width:auto;
	height: 15px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}
.lidiv{
width:1px;
display: inline-block;
height:15px;background:#CCC	;
margin:0px 5px;
}
.head-round{
	width: 200px;
	height:60px;
	float: left;
	margin-left: 50px;
}
.phone{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background:url(../images/com_icon_phone.gif) no-repeat center;

	float: left;
	text-align: left;
}
.phone-at{
	width:auto;
	height: auto;
	margin:5px 10px;
	float: left;
	color:rgb(255,108,103);
	font: 16px/22px Microsoft YaHei;	  
}
.tel{
	width: 40px;
	height: 40px;
	border-radius: 25px;
	background:url(../images/tel.png) no-repeat center;
	background-color:rgb(74,148,245);
	float: left;
	text-align: left;
	margin-top: 5px;
}
.tel-at{
	width:135px;
	color:#CCC;
	font: 16px/22px Microsoft YaHei;
	margin:5px 10px;
	margin-right: 0px;
	float: left;
}
.tel-at h3{
	font: 16px/22px Microsoft YaHei;
	color:#0066cc;
	background: url(../images/teldraw.png) no-repeat center right;
	cursor: pointer;
}
.teltag{ 
	width:200px; 
	height:150px; 
	border:1px solid lightgray;
	text-align: center;
	margin-top: 10px ;
	margin-left: 20px;
	position:relative;
	color:gray;
	background-color:#fff;
	z-index: 99999;
}
.arrow{ 
	position:absolute;
	width:5px; 
	height:10px; 
	bottom:20px; 
	left:45px; 
	transform: rotate(180deg);
	-o-transform: rotate(180deg); 
	-webkit-transform: rotate(180deg); 
	-moz-transform: rotate(180deg);
}
.arrow *{
display:block; 
border-width:15px; 
position:absolute;
border-style:solid dashed dashed dashed;
font-size:0;
line-height:0; 
}
.arrow em{ 
	border-color:lightgray transparent transparent;
	margin-top: 130px;
}
.arrow span{
	border-color:#FFF transparent transparent; top:128px;
	
} 
.teltag ul li{
	list-style:none;
	height: 30px;
	line-height: 30px;
	width: 150px;
	font: 12px/30px Microsoft YaHei;
	text-align: left;
	margin:5px auto;
	border-bottom: 1px dashed lightgray;
}
.maintab{
	height: auto;
	width: 100%;
	margin-top: 10px;/*
	border:1px solid red;*/
}

.tabhead{
	width:1920px;
	height: 50px;
	background:#2064c8;
}
.tab01{
	width: 35%;
	height: 50px;
	margin-left: 25%;
	border-left:1px solid #3774ce;
	float: left;
}
.tab01 ul li{	
	width: auto;
	height: 50px;
	list-style: none;
	padding:0px 10px ;
	float: left;
	font: 16px/50px Microsoft YaHei;
	color: white;
	cursor: pointer;
	border-right:1px solid #3774ce;
}
.chose{
	background:#003679;
}
.LoginOrReg{
	width: 150px;
	height:50px;
	background:#003679;	
	float:left;
	margin-left: 18%;
	text-align: center;
	font: 16px/50px Microsoft YaHei;
	color: white;
}
.LoginOrReg a{
	text-decoration: none;
	color:white;
}
.LoginOrReg a:hover{
	color: yellow
}
.loginList{
	width:190px;
	height:230px;
	background: white;	
	border:1px solid lightgray;
	top:50px;
	left:1458px;position: relative;
	z-index: 9999999；
}
.lo{	
	width: 160px;
	height: 35px;
	background: orange;
	border-radius: 10px;
	text-align: center;
	margin: 10px auto;
	cursor: pointer;
	border: none;
	outline: medium;
	font:16px/35px Microsoft Yahei;
	color:white;
}
.tabbody{
	overflow: hidden;
}
.tabbody,.showimg,.showimg img{
  width:1920px;
  height: 400px;
}
.wrap{
	width: 600px;
	height: 300px;
	background: #fff;
	position: relative;
	z-index: 99999;
	margin-top: -350px;
	margin-left: 15%;
}
.wrap-tab{
	width: 100px;
	height: 100%;
	background:#f3f3f3;	
	overflow: hidden;
	float: left;
} 
.wrap-list li{
	list-style: none;
	width: 100px;
	height: 44px;
	text-align: center;
	border-bottom:1px solid #e1e1e1;
	padding-top:15px;
	font:14px/32px Microsoft YaHei;
	cursor: pointer;
}
.fade-transition {
	  transition: opacity 0.0s ease;
	}
.fade-enter, .fade-leave {
  opacity: 0;
}
.fun{
	background:#fff;
	color: #3377dd;
}
.hotels{
	width: 380px;
	height: 20px;
	float:left;
	padding-top: 20px;
	padding-bottom: 10px;
	margin:5px 60px;
}
.homehotel{
	list-style: none;
	width:110px;
	height: 20px;
	float: left;
	font:16px/20px Microsoft YaHei;
	color: #3377dd;
	position: relative;
	z-index: 99998;
	padding-bottom: 10px;
	text-align: center;
	margin-right: 20px;
	cursor: pointer;
}
.boder{
	border-bottom:4px solid #3377dd;
}
.destination,.Toplace{
	width: auto;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-top: 20px;
	font:14px/25px Microsoft YaHei;
	color: lightgray;
}
.where{
	height: 25px;
	width:300px;
	margin-left: 10px;
	padding-left: 10px;
	border:1px solid lightgray;
	border-radius: 5px;
	outline: medium;
}
.Toplace{
	text-indent:12px;
}
.Toplace input{
	width:125px;
	margin-left: 10px;
	height: 25px;
	line-height: 25px;
	border:1px solid lightgray;
	outline: medium;
	padding-left: 5px;
	margin-right: 10px;
}
.startSearch ,.Search{
	width: 120px;
	height: 30px;
	margin-left:60px;
	margin-top:10px;	
	text-align: center;
	font:14px/30px Microsoft YaHei;
	float: left;
	border-radius: 5px;
	cursor: pointer;
}
.startSearch{
	background:rgb(255,108,103);
	color:white;
}
.Search{
	border:1px solid lightgray;
	color:#a9b7b7;
}
.voyage{
	margin-left: 10px;
}
.city,.selectTime,.leaveTime{
	float: left;
	height: 25px;
	width: auto;
	color:gray;
	font:14px/25px Microsoft YaHei;
}
.city input,.selectTime input,.leaveTime input{
height: 25px;
width: 115px;
margin:0px 5px;
padding-left: 10px
}
.selectTime{
text-indent: 25px;
margin-bottom: 40px;
}
.selectTime input{
	margin-top: 20px;
	padding-left: 5px;
}
.leaveTime input{
	margin-top: 20px;
}
.leaveTime{
	margin-bottom: 40px;
}
.hotline{
	float: left;
	width:100%;;
	height: auto;
	font:14px/20px Microsoft YaHei;
	margin-top: 50px;
}
.hotline img{
	width: 20px;
	height: 10px;
}
.hotline label{
margin-right: 15px;
}
.phonecode{
	width: 400px;
	height: 250px;
	margin: 10px 40px;
	float: left;
	font:14px/20px Microsoft YaHei;
	color: gray;
	text-align: center;
}
.phonecode img{
	width: 380px;
	height: 270px;
}
.viewsearch{
	width: 480px;
	height: 270px;
	margin-top: 20px;
	margin-left: 10px;
	float: left;
	font:14px/20px Microsoft YaHei;
	color: gray;
	text-align: center;
	overflow: hidden;
}
.inputview{
	width: 480px;
	height: 30px;
	margin: 5px 10px;
}
.inputview input{
	width: 150px;
	height: 25px;
	line-height: 25px;
	border-radius: 5px;
	border:1px solid lightgray;	
	outline: medium;
	padding-left: 10px;
	margin-right: 10px;	
}

.inputview select{
	width: 80px;
	height: 25px;
	line-height: 25px;
	border-radius: 5px;
	border:1px solid lightgray;	
	outline: medium;
	float: center;
}
.inputview button{
	width: 50px;
	height: 25px;
	line-height:25px;
	color: white;
	background:rgb(255,108,103);
	border-radius: 5px;
	border:none;
	outline: medium;
	cursor: pointer;
	margin-left: 10px;
}

.introduce{
	width:460px;
	height: 220px;
	margin-top: 10px;
}
.viewtitle{
	height: 40px;
	width: 100%;
	margin-bottom: 10px;
}
.viewtitle p{
	font-weight: bold;
	color: black;
	text-align:left;
}
.viewtitle h5{
	font:6px/10px Microsoft YaHei;
	text-align: left;
}
.imgshow{
	width: 250px;
	height: 170px;
	float: left;
	overflow: hidden;
}
.imgs{
	width: 250px;
	height: 120px;
	float: left;
}
.imgs img{
	width: 250px;
	height: 120px;
}
.imglist{
	width: 240px;
	height:45px;
	margin-left: 6px;
	float: left;
}
.imglist ul li{
	list-style: none;
	float: left;
	width: 70px;
	height: 40px;
	margin:3px 3px;
	cursor: pointer;
}
.imglist ul li img{
	width: 70px;
	height: 40px;
}
.viewdetail{
	width: 190px;
	height: 170px;
	margin-left: 10px;
	text-align: center;
	float: left;
}
.sale{
	width: 170px;
	height: 30px;
	margin-left:20px;
	float: left;
}
.sale label{
	width: 70px;
	height: 10px;
	font:6px/10px Microsoft YaHei;
	color:lightgray;
	float: left;
	margin-top: 15px;
}
.cheap{
	color: orange;
	font-size: 2em;
	line-height: 30px;
	float: left;
	width: 50px;
	height: 30px;
}
.price{
	width: 190px;
	height: 10px;
	line-height: 10px;
	color: lightgray;
	float: left;
	margin-top:2px;
	padding-left: 20px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 20px;
}
.yuan{
	width:36px;
	height:0px;
	border: 1px solid lightgray; 
	margin-left:50px;
	margin-top: -6px;
}
.sellout{
	width: 150px;
	height: 30px;
	border-top: 1px dashed lightgray;
	border-bottom: 1px dashed lightgray;	
	float: left;
	text-align: left;
	margin-left: 20px;
}
.sellout label{
	width: 30px;
	height: 10px;
	font:6px/10px Microsoft YaHei;
	color:lightgray;
	float: left;
	margin-top:10px;
}
.sellout span{
	float: left;
	color: orange;
	height: 25px;
	font:18px/25px Microsoft YaHei;\
}
.more{
	width: 100px;
	height: 25px;
	line-height: 25px;
	background-color:rgb(74,148,245);
	float: left;
	color: #fff;
	border-radius: 5px;
	margin:20px 10px;
	cursor: pointer;
}
.gobuy{
	width: 70px;
	height: 25px;
	background:rgb(255,108,103);
	border-radius: 5px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	float: left;
	cursor: pointer;
}
.hoteltypes,.thePlaceCount,.specialTicket,.guide{
	width: 100%;	
	float: left;
	padding-bottom: 20px;
}
.hoteltypes{
	height: 352px;
}
.thePlaceCount{
	height:660px;
}
.specialTicket{
	height: 418px;
}
.guide{
	height: 280px;
	/*border:1px solid blue;*/
}
.hotelLogin{
	margin:20px 20%;
	width: 215px;
	height: 30px;
	line-height:30px;
	border:1px solid #aaa;
	border-radius: 20px;
	padding-left: 20px;
	background: url(../images/like.png) no-repeat center left;
	background-origin:content-box;
	background-size: 20px 20px;
	text-indent: 25px;
	color: gray;
	font:14px/30px Microsoft YaHei;
}
.hotelLogin a{
	text-decoration: none;	
	color: #3377dd;
}
.hotelLogin a:hover{
	color: rgb(255,108,103);
}
.types{
	
	width:100%;
	height: 260px;
	overflow: hidden;
}
.types ul{
	width: 1200px;
	height: 260px;
	margin:0px 20%;
}
.types ul li{
	list-style: none;
	float: left;
	height: 260px;
	cursor: pointer;
}
.pic_auto1{
	background: url(../images/20150422_ifold1.jpg) no-repeat center ;
}
.pic_auto2{
	background: url(../images/20150120_ifold2.jpg) no-repeat center ;
}
.pic_auto3{
	background: url(../images/20150120_ifold3.jpg) no-repeat center ;
}
.pic_auto4{
	background: url(../images/20150120_ifold4.jpg) no-repeat center ;
}
.pic_auto5{
	background: url(../images/20150120_ifold5.jpg) no-repeat center ;
}
.pic_auto6{
	background: url(../images/20150120_ifold6.jpg) no-repeat center ;
}
.pic_auto7{
	background: url(../images/20150120_ifold7.jpg) no-repeat center ;
}
.div_auto{
background: rgba(0,0,0,.3);
width: 100%;
height: 100%;
color:white;
}
.div_auto:hover{
	   display: none;
}
.div_auto h4{	
	color: #fff;
    width: 30px;
    margin: 0 auto;
    display: block;
    font: 30px/30px Microsoft Yahei;
    position: relative;
    padding: 30px 0 0 0;
}
.count,.special,.guide_titlt{
	margin:20px 20% 10px 20%;
	width:1200px;
	height: 30px;
	line-height:30px;/*
	border:1px solid black;*/
}
.count h4,.special h4,.guide_titlt h4{	
	font:26px/30px Microsoft YaHei;
	float: left;
}
.count h4{
	color:rgb(255,108,103);
}
.special h4{
color:#4499ff;
}
.guide_titlt h4{
	color: #77cc11;
}
.count span{
	float: left;
	font:16px/20px Microsoft YaHei;
	color: gray;
	height: 20px;
	margin-top:10px;
	line-height: 20px;
	margin-left: 20px;
}
.count_f1,.special_f2,.guide_f2{
	width:1200px;margin:0px 0px 0px 20%;

}
.count_f1{
	height: 650px;
	border-top:2px solid #ff5555;
	
}
.special_f2{
	height:415px;
	border-top:2px solid #4499ff;
}
.guide_f2{
	height: 230px;
	border-top:2px solid #77cc11;
}
.f1_do,.f2_do{
	width: 100%;
	height: 35px;
	margin:5px 0px;/*
	border:1px solid black;*/
	float: left;
}
.do_h,.do_w,.do_h2,.do2_w{
	width: 8%;
	height:35px;		
	float: left;
	text-indent:40px;
	font:24px/35px Microsoft YaHei;
	color: gray;
	cursor: pointer;/*
	border:1px solid black;*/
}
.do_h{
	background:url(../images/home.png) no-repeat center left;
}
.do_w{
	background:url(../images/ab.png) no-repeat center left;
	background-size: 32px 32px;
}
.do_h2{
	width: 10%;
	background:url(../images/iconairport.png) no-repeat center left;
}
.do2_w{
	width: 10%;
	background:url(../images/iconhuoche.png) no-repeat center left;
}
.do_list,{
	width: 90%;
	height: 35px;
	margin-left:20px;
	float: left;
}

.do_lists{
	width: 1080px;
	height: 35px;/*
	border:1px solid red;*/
	float: right;
}
.do_list a,.do_lists a{
	float: right;
	text-decoration: none;
	margin-top: 7px;
	font:16px/25px Microsoft Yahei;
	color: gray;
}
.do_list a:hover,.do_lists a:hover{
	color:rgb(255,108,103)
}
.doLists,.doBlue{
	list-style: none;
	width: 100px;
	height: 25px;
	border-radius: 25px;
	float: left;
	margin: 7px 10px;
	text-align: center;
	cursor: pointer;
	font:16px/25px Microsoft Yahei;
	color: gray;
	border:1px solid #fff;
}

.ListAct{
	background:rgb(255,108,103);
	color:white !important;
	
}
.Listblue{
	background:#4499ff;
	color:white !important;
	
}
.hoverAct{
	border: 1px solid rgb(255,108,103);	
	color:rgb(255,108,103)
}
.blueAct{
	border: 1px solid #4499ff;
	color:#4499ff;
}
.f1_pic,.f2_pic{
	width: 100%;
	height: 253px;
	margin-top: 10px;
	float: left;
}
.f2_pic{
height: 125px;
}
.f1_pic ul li{
	list-style: none;
	float: left;
	height: auto;
	margin: 0px 5px 0px 2px;
	padding-bottom: 15px;
	width: 293px;
	border: none;
	border-bottom: 1px solid #cccccc;
	background:#f7f7f7;
	overflow: hidden;
}
.f1_pic ul li:hover{
	border-bottom: 2px solid red;
}
.f2_pic ul li{
	list-style: none;
	float: left;
	height: 100px;
	padding-bottom: 15px;
	width: 198px;
	border: 1px solid #d8e8fe;	
	background:#f4f9ff;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
}
.f2_pic ul li:hover{
	border: 1px solid #4599ff;	
}
.dis_pic{
	width: 293px;
	height: 202px;
	cursor: pointer;
	float: left;
}
.dis_pic img{ 
	width: 100%;
	height: 200px;	
	position: relative;
 }
.pic_name{
	color: #fff;
	font: 24px/30px Microsoft Yahei;
	width: 100%;
	height: 30px;
	margin:-50px 0px 10px 15px;
	position: absolute;
	z-index: 9990;
}
.fonts{
	margin: 15px 0px 0px 8px;
	width: 100%;
	height: 20px;
	background: #f7f7f7;
	text-align: left;
	font:18px/20px Microsoft　YaHei;
	color: #555555;
	float: left;
}
.from,.to,.fromtime,.money{
	margin-left: 3px;
	width: 70px;
	height: 40px;
	float: left;
	color: gray;
	font:14px/40px Microsoft Yahei;
	
}
.ft,.sales,.tt{
	width:40px;
	height:20px;
	float: left;
	color: gray;
	font:14px/40px Microsoft Yahei;
	
}

.from,.to{
	margin-top: 20px;
}
.fromtime,.money{
margin-top: 5px;
}
.sales{	
	background: #009900;
	color: #fff;
	text-align:center;
	border-radius: 10px;
	margin-top:15px;
	font:14px/20px Microsoft Yahei;
}
.ft{
	margin-top: 25px;
	background: url(../images/flyto.png) no-repeat center;
	background-size: 25px 15px;
}
.tt{
	margin-top: 30px;
	background: url(../images/taketo.png) no-repeat center;
}
.money{
	color: #fc6622;
}
.tab_guide{
	width:50%;
	height: 220px;
	margin-top:10px;
	overflow: hidden;
	float: left;
}
.two_guide{
	width: 50%;
	height: 220px;
	margin-top:10px;
	float: right;
}
.tab_1{
	width:36%;
	height: 100%;
	float: left;
}
.tab_1 ul li{
	list-style: none;
	height: 54px;
	border-bottom: 1px solid #ccc;
	font:14px/60px Microsoft Yahei;
	color: #555555;
	padding-left: 10px;
	cursor: pointer;
	background: #fff;
}
.tab_1 ul li:hover{
	background: #89ca00;
	color:#fff;
}
.guide_pic{
	width: 64%;
	height: 100%;
	float: left;
}
.guide_pic ul li{
	list-style: none;
	width: 100%;
	height: 100%;	
	cursor: pointer;
	display: none;
}
.guideshow{
	display:block !important; 
}
.two_guide ul li{
	list-style: none;
	width:290px;
	height: 220px;
	float: left;
	margin-left:10px;
	background: #f7f7f7;
	border-bottom: 1px solid #ccc;
}
.two_guide ul li:hover{
	border-bottom: 2px solid #77cc11;
}
.two_guide h4{
	margin: 0px 0px 0px 10px;
	color: #339ff1;
	font: 14px/30px Microsoft Yahei;
}